<footer class="page-footer font-small indigo pt-0">


  <div class="container">

    <!--First row-->
    <div class="row text-center">

      <!--First column-->
      <div class="col-md-12 py-5">

        <div class="mb-5 flex-center">

          <!--Facebook-->
          <a class="fb-ic" href="https://www.facebook.com/luis.m.sanchez.71" target="_blank">
            <i class="fab fa-facebook-square fab-lg white-text mr-md-5 mr-3 fa-4x"> </i>

          </a>
          <!--Twitter-->
          <a class="tw-ic" href="https://twitter.com/LuisSan49685304" target="_blank">
            <i class="fab fa-twitter-square fab-lg white-text mr-md-5 mr-3 fa-4x"> </i>
          </a>
          <!--Google +-->
          <a class="gplus-ic" href="https://luisanchez33.github.io/luisanchez/" target="_blank">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-4x"> </i>

          </a>

        </div>
      </div>
      <!--/First column-->
    </div>
    <!--/First row-->
  </div>
  <!--/Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright:
    <a href="https://luisanchez33.github.io/luisanchez/" target="_blank"> Luis Sanchez </a>
  </div>
  <!--/Copyright-->

</footer>
<!--/Footer-->